.btn {
  padding: 12px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  margin-right: 20px;
  border-radius: 20px;
}

.btn:hover {
  background-color: #f29e4c;
}

.btn-form:hover {
  background-color: #f1c453;
}